<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <title>Gabble Home</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="home"><b>Home</b></a>
            </div>

        </div>
    </div>
    <div id="headerwrap">
        <div class="container">
            <div class="row flex">
                <div class="col-lg-6">
                    {{#display}}
                    <h1>{{display}} Messages </h1>
                    {{/display}}
                </div>
                <div class="col-lg-6">
                    <img class="img-responsive" src="assets/img/ipad-hand.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt centered">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>Your Messages</h1>
            </div>
        </div>
        <div class="col-lg-4 flex">
            {{#result}}
            <div class="card flex-wrap">
                <h3 class="card-title">{{author}}</h3>
                <p class="card-text">{{content}}</p>
                <a href="/likes/{{id}}">{{likes.length}} Likes </a>
            <form class="btn btn-primary" method="post" action="/manage_gabs/{{id}}">
                <button type="submit">Delete</button>
            </form>
        </div>
        {{/result}}
    </div>
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>